/* Import der Schriftart */
@import url(./font/font.css);

/* Tailwind CSS Direktiven */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grundlegende Stile */
body {
	@apply bg-je-gray-500;
	@apply text-je-gray-100;
	font-family: 'Poppins';
	margin: 0;
}

/* Rounded */
.rounded-x1 {
	border-radius: .75rem;
}

/* Container für den Inhalt mit Abstand */
.container {
	padding-left: 5%;
	padding-right: 5%;
	max-width: 100%;
	margin: 0 auto;
}

/* Überschriften-Stile mit Abstand */
h1 {
	font-size: 2.5em;
	font-weight: bold;
	@apply text-je-sand;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	@apply text-je-sand;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 1.75em;
	font-weight: bold;
	@apply text-je-sand;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

h4 {
	font-size: 1.5em;
	font-weight: bold;
	@apply text-je-gray-100;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

h5 {
	font-size: 1.25em;
	font-weight: bold;
	@apply text-je-gray-100;
	margin-top: 0.15em;
	margin-bottom: 0.15em;
}

h6 {
	font-size: 1em;
	font-weight: bold;
	@apply text-je-gray-100;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

/* Text-Stile */
.text-justify {
	text-align: justify;
}

/* Link-Stile */
a:hover {
	text-decoration: underline;
	font-weight: bold;
}

/* Button-Stile */
button {
	@apply bg-je-green-500;
	@apply text-je-sand;
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

/* Button Hover-Effekt */
button:hover {
	@apply bg-je-gray-500;
	@apply text-je-gray-100;
}

/* Header-Stile */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	@apply bg-je-green-500;
	@apply text-je-sand;
	padding: 20px 10px;
}

/* Link-Stile im Header */
.header a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 0.5rem;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

/* Logo-Stile */
.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

/* Logo-Bild-Stile */
.header .logo img {
	max-width: 60%;
	height: auto;
}

/* Header-Link Hover- und Aktiv-Stile */
.header a:hover,
.header a.active {
	font-weight: bold;
}

/* Blendet Icon für mobile Ansicht aus */
.header .icon {
	display: none;
}

/* Rechte Seite des Headers */
.header-right {
	float: right;
}

/* Responsive Design für den kleinere Ansichten */
@media screen and (max-width: 600px) {
	/* Header */
	.header {
		flex-direction: column;
	}

	.header .logo img {
		content: url('/logo/logo_500x500_clear.png');
		width: 15%;
	}

	.header a:not(:first-child),
	.header a.active {
		display: none;
	}

	.header a.icon {
		display: block;
		position: fixed;
		right: 1%;
		top: 1%;
		font-size: 150%;
	}

	.header .icon {
		align-self: center;
		margin: 6% 0;
		order: -1;
		padding: 10px;
		font-size: 1.5em;
		display: block;
		position: relative;
		line-height: 1;
		cursor: pointer;
	}

	.header .header-right {
		width: 100%;
		display: none;
	}

	.header.responsive {
		position: relative;
	}

	.header.responsive .icon {
		position: fixed;
		font-weight: bold;
	}

	.header.responsive .header-right {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header.responsive .header-right a {
		display: block;
		width: 100%;
		text-align: left;
	}
}

/* Styles for Privacy */
@media print {
	.ms-editor-squiggles-container {
		display: none !important;
	}
}
.ms-editor-squiggles-container {
	all: initial;
}