/* Import der Schriftart */
@import url(./font/font.css);

/* Tailwind CSS Direktiven */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grundlegende Stile */
body {
	@apply bg-je-gray-500;
	@apply text-je-gray-100;
	font-family: 'Poppins';
	margin: 0;
}

/* Rounded */
.rounded-x1 {
	border-radius: .75rem;
}

/* Container für den Inhalt mit Abstand */
.container {
	padding-left: 5%;
	padding-right: 5%;
	max-width: 100%;
	margin: 0 auto;
}

/* Überschriften-Stile mit Abstand */
h1 {
	font-size: 2.5em;
	font-weight: bold;
	@apply text-je-sand;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	@apply text-je-sand;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 1.75em;
	font-weight: bold;
	@apply text-je-sand;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

h4 {
	font-size: 1.5em;
	font-weight: bold;
	@apply text-je-gray-100;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

h5 {
	font-size: 1.25em;
	font-weight: bold;
	@apply text-je-gray-100;
	margin-top: 0.15em;
	margin-bottom: 0.15em;
}

h6 {
	font-size: 1em;
	font-weight: bold;
	@apply text-je-gray-100;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

/* Link-Stile */
a:hover {
	text-decoration: underline;
	font-weight: bold;
}

/* Button-Stile */
button {
	@apply bg-je-green-500;
	@apply text-je-sand;
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

/* Button Hover-Effekt */
button:hover {
	@apply bg-je-gray-500;
	@apply text-je-gray-100;
}

/* Styles for Privacy */
@media print {
	.ms-editor-squiggles-container {
		display: none !important;
	}
}
.ms-editor-squiggles-container {
	all: initial;
}